*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	margin-bottom: 0 !important; 
}
h1 {
	font-weight: bolder;
}
  
p ,a {
	font-weight: normal;
}

h2, h3, h4{
	font-weight: medium;
}



/* NAVBAR */
/* ==================== */

nav{
	background-color: white;
	height: 80px;
	width: 100%;
	top: 0;
 	position: fixed;
    z-index: 222;
}



label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	margin-left: 20px;
	font-weight: bold;
}

.logo img{
    margin-left: 20px;
	margin-top: 10px;
    width: 300px;
    height: 60px;
}

nav ul{
	z-index: 6598485;
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
}
nav ul li a{
	color: #53a0ca;
	font-size: 17px;
	padding: 5px 10px;
	border-radius: 3px;
	text-transform: uppercase;
	transition: 1s;
}
nav ul li a:hover{
	background-color: rgb(80, 128, 182);
	color: white;
	transition: 1s;
}
.checkbtn{
	font-size: 30px;
	color: #53a0ca;
	float: right;
	line-height: 80px;
	margin-right: 20px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
  
nav ul li a.active{
  background-color: rgb(80, 128, 182);
	color: white;
	transition: 1s;
}

.btn:hover{
    color: white;
}

/* ========================= */


/* Image container */
/* ========================= */


.image-container {
    width: 100%; 
    text-align:center; 
    margin-bottom: -7px;
	margin-top: 80px;
} 
.image-container img { 
    width: 100%;
    max-height: 700px;
} 

.program{
	color: white;
	font-size: 2rem;
    position: absolute;
    top: 68%;
    left: 80%;
	text-align: justify;
}


/* ========================= */


/* Cine suntem */
/* ========================= */

.cine-suntem{
	background: #53a0ca;
    justify-content: center;
    line-height: 2;
    margin-bottom: 30px;
    color: white;
}

.cine-suntem h1{
    text-align: center;
}

.cine-suntem p{
	text-align: center;
	margin: 0px 140px;
    padding: 10px 0;
}

/* .cine-suntem-image{
	text-align: center;
    margin-bottom: 50px;
} */


/* ========================= */


/* PRODUSE NOI */
/* ========================= */

.produse-noi h1{
	text-align: center;
	color: #53a0ca;
}

.produse-noi-container {
	padding: 0px 100px;
	margin-bottom: 40px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.7fr 0.3fr;
	gap: 0px 0px;
	grid-template-areas:
	  "prod-1-img prod-2-img prod-3-img"
	  "prod-1-title prod-2-title prod-3-title";
}
.prod-1-img { grid-area: prod-1-img; }
.prod-1-title { grid-area: prod-1-title; }
.prod-2-img { grid-area: prod-2-img; }
.prod-2-title { grid-area: prod-2-title; }
.prod-3-img { grid-area: prod-3-img; }
.prod-3-title { grid-area: prod-3-title; }
.prod-4-img { grid-area: prod-4-img; }
.prod-4-title { grid-area: prod-4-title; }

.prod-1-img img, .prod-2-img img, .prod-3-img img, .prod-4-img img{
	height: 230px;
	width: 200px;
}

.prod-1-title h3, .prod-2-title h3, .prod-3-title h3{
	color: black;
}




/* Titlu cate */
/* ========================= */


.titlu{
    text-align: center;
}

.titlu h2{
	color: #53a0ca;
	font-size: 2rem;
	margin-bottom: 30px;
}






/* Categorii container */
/* ========================= */


.new-container {
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 50px;
	grid-template-areas:
	  "categ-1 categ-2"
	  "categ-3 categ-4"
	  "categ-5 categ-6";
	margin-left: 170px;
	margin-right: 170px;
}

.categ-1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.7fr 0.3fr;
	gap: 0px 0px;
	grid-template-areas:
	  "poza1"
	  "categ-titlu1";
	grid-area: categ-1;
}
.poza1 {
	grid-area: poza1;
}
.categ-titlu1 { grid-area: categ-titlu1; }


.categ-titlu1{
	align-self: end;
}

.categ-titlu1 p{
	color: #53a0ca;
	font-size: 1.5rem;
	border-radius: 3px;
	text-transform: uppercase;
	transition: 1s;
	text-align: center;
}



.categ-1 { grid-area: categ-1; }

.categ-1{
	width: 100%;
}

.frame {
	overflow: hidden;
}

.poza1 img{
	opacity: 0.7;
    width: 100%;
	height: 400px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.categ-1 img:hover{
	opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.categ-1{
	position: relative;
}

 





/* .categorii-container{
	  text-align: center;
	  margin: 50px 350px;
}
  .Cat-1 { grid-area: Cat-1; }
  .img-1 { grid-area: img-1; }

.Cat-1{
	text-align: justify;
    padding: 40px 0px;
    align-self: center;
	text-align: center;
}

.cat-prod a .Cat-1 h2{
	color: white;
	text-align: justify;
    padding: 40px 0px;
    align-self: center;
    text-align: center;
}

.img-1 img{
	height: 170px;
    width: 190px;
	border-radius: 100px;
}



.img-1 img{
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
 
.img-1 img:hover {
    margin-top: 5px;
} */


/* ========================= */

.rights{
	margin-bottom: 20px;
}

.rights p {
	text-align: center;
	color: #53a0ca;
	font-size: 1.3rem;
}


/* FOOTER HERE */
/* ========================= */

footer{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	background-color: white;
}
  
.footer-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}
  
.coloana-stanga{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  
.coloana-dreapta{
	display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo{  
	text-align: center;
}
  
.footer-logo img{
  height: 60px;
  margin-top: 10px;
}
  
  
.social-links li{
	display: inline-block;
	margin-right: 15px;
}
  
.social-links li:last-child{
	margin-right: 0;
}
  
.coloana-stanga ul li a{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	color: #53a0ca;
	transition: 1s;
}
  
  
.coloana-stanga ul li a:hover{
	background-color: rgb(80, 128, 182);
	color: white;
	transition: 1s;
}
  
.row p{
	text-align: center;
	color: rgb(90, 89, 89);
}
  
.social-links li a i{
	color: #53a0ca;
	transition: 1s;
}
  
.fa-facebook-square:hover{
	color: #4267B2;
	transition: 1s;
}
  
.fa-instagram-square:hover{
	color: #c32aa3;
	transition: 1s;
}

.fa-linkedin:hover{
	color: #0a66c2;
	transition: 1s;
}

/* ========================= */

.image-contact img{
	width: 100%;
    height: 390px;
    margin-top: 80px;
    filter: brightness(40%);
}


/* Contact container */
/* ========================= */

.find-us{
	text-align: center;
	margin-bottom: 50px;
}

.contact-container {
	margin-left: 80px;
    margin-right: 80px;
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 30px;
	grid-template-areas:
	  "Adresa Email Telefon";
}
.Adresa { grid-area: Adresa; }
.Email { grid-area: Email; }
.Telefon { grid-area: Telefon; }


.Adresa,
.Email,
.Telefon{
	line-height: 2;
}


.Email{
	border-radius: 80px;
	box-shadow: 0px 0px 5px 1px black;
}


.Telefon {
    background: #50aa48;
    color: white;
	border-radius: 80px;
	box-shadow: 0px 0px 5px 3px #3d6718;
}

.Adresa {
    background: #53a0ca;
    color: white;
	border-radius: 80px;
	box-shadow: 0px 0px 5px 3px #0a4d71;
}


.find-us .contact-container .Adresa .image-map,
.find-us .contact-container .Telefon .image-numar,
.find-us .contact-container .Email .image-email{
  font-size: 2rem;
}

.find-us .contact-container .Adresa .locatie p,
.find-us .contact-container .Telefon .numar-telefon p, 
.find-us .contact-container .Email .adresa-email p{
  font-size: 1.2rem;
}


.map {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.map iframe{
	width: 100%;
	height: 45vh;
	margin-left: 80px;
	margin-right: 80px;
}

/* ========================= */

/* Contact form */
/* ========================= */


.container{
	background: #53a0ca;
	background-size: cover;
  	width: 100%;
  	height: 550px;
	color: #fff;
	margin-bottom: 50px;
}

.container .contactus{
  	max-width: 600px;
  	width: 100%;
  	padding: 5px 15px;
  	margin: 0 auto;
}

.container .contactus h1{
	padding-top: 10%;
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
}

.item{
  	margin-bottom: 15px;
}

.item input[type="text"],
.item input[type="email"],
.item input[type="tel"],
.item textarea{
	width: 100%;
	background: none;
	outline: none;
	border: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	padding: 0 0 15px 0;
}

.item.name_email{
  	display: flex;
  	justify-content: space-between;
}



.item.name_email input[type="text"],
.item.name_email input[type="email"],
.item.name_email input[type="tel"]{
  	width: 48%;
  	outline: none;
}


.item textarea{
  	height: 100px;
  	resize: none;
  	outline: none;
}

.btn{
  	margin-top: 30px;
}

.btn input{
	background: transparent;
  	display: block;
  	border: 2px solid #fff;
  	width: 200px;
  	text-align: center;
  	height: 45px;
  	line-height: 45px;
  	text-transform: uppercase;
  	color: #fff;
  	letter-spacing: 5px;
  	transition: all 1s linear;
}

.btn input:hover{
  	background: #fff;
  	color: #53a0ca;
	text-decoration: none;
}

.btn input:focus{
	outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  	color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  	color: #fff;
}

.robot{
	display: flex;
}

.robot p{
	margin-left: 15px;
}





/* GO TO TOP BUTTON */


#scroll {
	z-index: 645884;
    position:fixed;
    right:10px;
    bottom:82px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#53a0ca;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
	border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color: #50aa48;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/* ======================= */






/* ABOUT US PAGE */
/* ======================= */



.about-us{
	background: #53a0ca;
	width: 100%;
	height: 390px;
	margin-top: 80px;
	text-align: center;
}

.about-us h2,
.about-us p{
	color: white;
	position: relative;
    top: 30%;
	line-height: 1.5;
}

.about-us h2{
	font-size: 2.5rem;
}

.about-us p{
	font-size: 1.5rem;
	margin: 0 50px;
}




.about-container {
	text-align: center;
	margin-bottom: 50px;
}
  

  
  .foto-1 { grid-area: 1 / 1 / 2 / 2; }
  
  .text-1 { grid-area: 1 / 2 / 2 / 3; }
  
  .foto-2 { grid-area: 2 / 1 / 3 / 2; }
  
  .text-2 { grid-area: 2 / 1 / 3 / 3; }
  

.text-1{
	margin: 0 50px;
	align-self: center;
	line-height: 2;
	margin-bottom: 50px;
}


.text-2{
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.3fr;
  gap: 20px 0px;
  background: rgb(236 236 236);
}
.valori-titlu { grid-area: 1 / 1 / 2 / 4; }
.valori-1 { grid-area: 2 / 1 / 4 / 2; }
.valori-2 { grid-area: 2 / 2 / 4 / 3; }
.valori-3 { grid-area: 2 / 3 / 4 / 4; }
.valori-img1 { grid-area: 2 / 1 / 3 / 2; }
.valori-img2 { grid-area: 2 / 2 / 3 / 3; }
.valori-img3 { grid-area: 2 / 3 / 3 / 4; }
.valori-scris1 { grid-area: 3 / 1 / 4 / 2; }
.valori-scris2 { grid-area: 3 / 2 / 4 / 3; }
.valori-scris3 { grid-area: 3 / 3 / 4 / 4; }

.valori-titlu{
	align-self: center;
}


.valori-img1,
.valori-img2,
.valori-img3{
	align-self: center;
}

.valori-img1 .fa-certificate,
.fa-leaf,
.fa-people-arrows{
	color: #53a0ca;
	transition: 1s;
}

.valori-img1 .fa-certificate:hover{
	color: rgb(177, 177, 46);
	transition: 1s;
}

.fa-leaf:hover{
	color: #50aa48;
	transition: 1s;
}

.fa-people-arrows:hover{
	color: rgb(165, 44, 44);
	transition: 1s;
}

.valori-scris1 p,
.valori-scris2 p,
.valori-scris3 p{
	font-size: 2rem;
}



.text-1 h1,
.text-2 h1{
	color: #53a0ca;
}

.foto-1{
	padding: 20px 300px; 
}

.foto-1 img{
	width: 100%;
	height: 500px;
	border-radius: 70px;
}

.experienta {
	text-align: left;
    position: absolute;
    left: 16%;
    bottom: 23%;
    font-size: 1.8rem;
}

.about-title{
	margin-bottom: 50px;
}


.about-title h1{
	text-align: center;
	color: #53a0ca;
}




.about-desc {
	background: rgb(236 236 236);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
	  "foto-3 text-3";
	margin-bottom: 50px;
}
  
.foto-3 {
	grid-area: foto-3;
	text-align: center;
	padding: 10px 100px;
}
  
.text-3 { grid-area: text-3; }

.foto-3 img{
	border-radius: 80px;
	width: 100%;
	height: 400px;
}


.text-3{
	margin: 0 50px;
	align-self: center;
	line-height: 2;
	background: rgb(236 236 236);
}

.text-3 h1{
	color: #53a0ca;
}




/* Clienti fericiti */
/* ============================== */





.parere-clienti{
	margin-bottom: 20px;
}


.parere-clienti h1{
	text-align: center;
	color: #53a0ca;
}

.clienti-fericiti {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr;
	gap: 0px 50px;
	grid-template-areas:
	  "client-1 client-2";
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
}
  
.client-1 {
	background: rgb(236 236 236);	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.5fr;
	gap: 0px 0px;
	grid-template-areas:
	  "parere-1"
	  "nume-1";
	grid-area: client-1;
	padding: 50px 50px;
}
  
.parere-1 {
	grid-area: parere-1;
	margin-bottom: 10px;
}

.fa-quote-right{
	color: #53a0ca;
}
  
.nume-1 { grid-area: nume-1; }

.nume-1 h2,
.nume-2 h2{
	color: #53a0ca;
}
  
.client-2 {
	background: rgb(236 236 236);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.5fr;
	gap: 0px 0px;
	grid-template-areas:
	  "parere-2"
	  "nume-2";
	grid-area: client-2;
	padding: 50px 50px;
}
  
.parere-2 ,.content {
	grid-area: parere-2;
	margin-bottom: 10px;
}
  
.nume-2 { grid-area: nume-2; }

/* */




.slider {
	height: 300px;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
		-ms-flex-align: end;
			align-items: flex-end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	background: #e4e4e4;
	margin-bottom: 50px;
	margin-left: 100px;
    margin-right: 100px;
  }
  .slider__nav {
	width: 12px;
	height: 12px;
	margin: 2rem 12px;
	border-radius: 50%;
	z-index: 10;
	outline: 6px solid #ccc;
	outline-offset: -6px;
	box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
  }
  .slider__nav:checked {
	-webkit-animation: check 0.4s linear forwards;
			animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
	left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
	left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
	left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
	left: -300%;
  }
  .slider__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	height: 100%;
	-webkit-transition: left 0.4s;
	transition: left 0.4s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
  }
  .slider__contents {
	height: 100%;
	padding: 2rem;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
		-ms-flex: 1;
			flex: 1;
	-webkit-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
			flex-flow: column nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .slider__caption {
	  color: #53a0ca;
	font-weight: 500;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
  }
  .slider__txt {
	color: black;
	margin-bottom: 1rem;
  }
  
  @-webkit-keyframes check {
	50% {
	  outline-color: #333;
	  box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
	}
	100% {
	  outline-color: #333;
	  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
	}
  }
  
  @keyframes check {
	50% {
	  outline-color: #333;
	  box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
	}
	100% {
	  outline-color: #333;
	  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
	}
  }
  



/* Our team */
/* ============================= */

.our-team {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 0.4fr;
	gap: 0px 0px;
	margin-bottom: 50px;
}
  
.team-1 { grid-area: 1 / 1 / 3 / 2; }
  
.team-2 { grid-area: 1 / 2 / 3 / 3; }
  
.team-3 { grid-area: 1 / 3 / 3 / 4; }
  
.poza-t1 { grid-area: 1 / 1 / 2 / 2; }
  
.functie-t1 { grid-area: 2 / 1 / 3 / 2; }
  
.poza-t2 { grid-area: 1 / 2 / 2 / 3; }
  
.functie-t2 { grid-area: 2 / 2 / 3 / 3; }
  
.poza-t3 { grid-area: 1 / 3 / 2 / 4; }
  
.functie-t3 { grid-area: 2 / 3 / 3 / 4; }

.team-1, .team-2, .team-3{
	text-align: center;
}

.poza-t1 img, .poza-t2 img,  .poza-t3 img{
    height: 220px;
    width: 250px;
    border-radius: 50px;
}











/* CERTIFICARI PAGE */
/* ================================== */

.certificare-container {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1.5fr 0.5fr;
	gap: 0px 0px;
	grid-template-areas:
	  "certificare-1 certificare-2 certificare-3"
	  "certificare-1 certificare-2 certificare-3";
}

.certificare-1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.5fr;
	gap: 0px 0px;
	grid-template-areas:
		"img-certificare-1"
		"button-certificare-1";
	grid-area: certificare-1;
}

.img-certificare-1 { grid-area: img-certificare-1; }

.button-certificare-1 { grid-area: button-certificare-1; }

.certificare-2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.5fr;
	gap: 0px 0px;
	grid-template-areas:
		"img-certificare-2"
		"button-certificare-2";
	grid-area: certificare-2;
}

.img-certificare-2 { grid-area: img-certificare-2; }

.button-certificare-2 { grid-area: button-certificare-2; }

.certificare-3 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.5fr;
	gap: 0px 0px;
	grid-template-areas:
		"img-certificare-3"
		"button-certificare-3";
	grid-area: certificare-3;
}

.img-certificare-3 { grid-area: img-certificare-3; }

.button-certificare-3 { grid-area: button-certificare-3; }


.img-certificare-1, .img-certificare-2, .img-certificare-3{
	text-align: center;
}


.img-certificare-1 img, .img-certificare-2 img, .img-certificare-3 img{
	width: 300px;
	height: 310px;
}


.button-certificare-1, .button-certificare-2, .button-certificare-3{
	text-align: center;
	align-self: center;
}


.button-certificare-1 a, .button-certificare-2 a, .button-certificare-3 a{
	color: #53a0ca;
	font-size: 17px;
	padding: 5px 10px;
	border-radius: 3px;
	text-transform: uppercase;
	transition: 1s;
	background: rgb(224, 224, 224);
}
.button-certificare-1 a:hover, .button-certificare-2 a:hover, .button-certificare-3 a:hover{
	background-color: rgb(80, 128, 182);
	color: white;
	transition: 1s;
}


.img-logo{
	margin-top: 100px;
	text-align: center;
}

.img-logo img{
	width: 60%;
	padding: 0 120px;
}



/* WIDGET BENEFICII */
/*===========================*/


.beneficii-widget {
	background: rgb(236 236 236);
	margin-bottom: 50px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr;
	gap: 20px 0px;
	grid-template-areas:
	  "beneficiu-1 beneficiu-2 beneficiu-3"
	  "beneficiu-4 beneficiu-5 beneficiu-6";
}
  
.beneficiu-1 {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 15px;
	grid-template-areas:
	  "icon-1 text-icon-1";
	grid-area: beneficiu-1;
}
  
.icon-1 { grid-area: icon-1; }
  
.text-icon-1 { grid-area: text-icon-1; }
  
.beneficiu-2 {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 15px;
	grid-template-areas:
	  "icon-2 text-icon-2";
	grid-area: beneficiu-2;
}
  
.icon-2 { grid-area: icon-2; }
  
.text-icon-2 { grid-area: text-icon-2; }
  
.beneficiu-3 {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 15px;
	grid-template-areas:
	  "icon-3 text-icon-3";
	grid-area: beneficiu-3;
}
  
.icon-3 { grid-area: icon-3; }
  
.text-icon-3 { grid-area: text-icon-3; }
  
.beneficiu-4 {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 15px;
	grid-template-areas:
	  "icon-4 text-icon-4";
	grid-area: beneficiu-4;
}
  
.icon-4 { grid-area: icon-4; }
  
.text-icon-4 { grid-area: text-icon-4; }
  
.beneficiu-5 {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 15px;
	grid-template-areas:
	  "icon-5 text-icon-5";
	grid-area: beneficiu-5;
}
  
.icon-5 { grid-area: icon-5; }
  
.text-icon-5 { grid-area: text-icon-5; }
  
.beneficiu-6 {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 15px;
	grid-template-areas:
	  "icon-6 text-icon-6";
	grid-area: beneficiu-6;
}
  
.icon-6 { grid-area: icon-6; }
  
.text-icon-6 { grid-area: text-icon-6; }
  
.text-icon-1, .text-icon-2, .text-icon-3, .text-icon-4, .text-icon-5, .text-icon-6{
	align-self: center;
	text-align: initial;
	font-size: 1.4rem;
}

.icon-1, .icon-2, .icon-3, .icon-4, .icon-5, .icon-6{
	text-align: end;
}




  /*===========================*/